.navbar {
	min-height: 50px;
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar-default {
	background: rgb(47, 47, 47) none repeat scroll 0% 0%;
}

.navbar-right {
	margin-right: 15px;
}

.navbar-default .navbar-nav > li > a {
	line-height: 3.3;
	font-weight: 400;
}
123
456
789
 0